@charset "UTF-8";
.collaps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 79%; }

.collaps ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; }

.seach-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top-head {
  padding: 5px 10px;
  max-width: 1346px;
  margin: 0 auto;
  height: 70px; }

.top-head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.top-head-container a:hover {
  color: #0E76DE; }

form.seach-header {
  height: 40px;
  margin: auto; }

.seach-header > span > img {
  height: 30px !important;
  width: 30px !important; }

img.logo {
  max-height: 100%;
  height: 100%;
  padding: 0;
  max-width: 100%; }

.seach-header input {
  display: block;
  min-width: 350px;
  width: 100%;
  border-radius: 3px;
  padding-left: 10px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0; }

.seach-icon i {
  font-size: 20px; }

.ca-detail p {
  text-decoration: none;
  margin: 0; }

a.career-item-short:hover {
  text-decoration: none; }

.seach-header span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 40px;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  width: 20%; }

.collaps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.collaps a {
  color: #444444;
  padding: 18px 15px; }

header a {
  font-size: 16px;
  font-family: "Nunito Sans",sans-serif;
  font-weight: 400;
  text-decoration: none !important; }

.register-right a {
  color: #007bff; }

a.btn {
  border: 1px solid #007bff;
  padding: 5px 10px; }

.header-pc {
  display: block;
  position: fixed;
  z-index: 10000;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 1px 10px rgba(1, 100, 200, 0.5);
          box-shadow: 0px 1px 10px rgba(1, 100, 200, 0.5); }

.banner {
  width: 100%;
  height: 430px;
  background-color: #000;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Nunito Sans",sans-serif;
  padding: 60px 15px;
  margin-top: 70px; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px; }

.seach-container {
  max-width: 1316px;
  width: 100%;
  margin: auto; }

.form-group input {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #B2E0FF;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  padding: 14px 15px;
  height: 50px;
  width: 50%; }

.form-group select {
  width: 30%; }

.form-group button {
  width: 20%; }

select.form-control {
  height: 50px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3; }

.seach-left button.submit-seach-job {
  background: #4fb1f8;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #B2E0FF;
  background: -webkit-gradient(linear, left top, right top, from(#0F73D6), to(#5BBDFF));
  background: linear-gradient(to right, #0F73D6, #5BBDFF);
  display: block; }

.seach-left button.submit-seach-job:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0F73D6), to(#5BBDFF)) !important;
  background: linear-gradient(to right, #0F73D6, #5BBDFF) !important;
  border: 1px solid #B2E0FF;
  -webkit-box-shadow: 0 4px 14px #0f73d666;
          box-shadow: 0 4px 14px #0f73d666; }

.seach-right button.submit-seach-job {
  background: #4fb1f8;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 50px;
  border: 1px solid #B2E0FF;
  background: -webkit-gradient(linear, left top, right top, from(#0DBE1F), to(#36E269));
  background: linear-gradient(to right, #0DBE1F, #36E269);
  display: block;
  border: 1px solid #36E269; }

.seach-left {
  color: black;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px 0px 0px 4px;
  padding: 55px 50px 25px; }

.seach-left h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #32325b; }

.seach-left p {
  font-size: 20px; }

.seach-right {
  background: #E2FFF4;
  border-radius: 0 4px 4px 0;
  padding: 55px 50px 40px; }

.seach-right p {
  color: #000000; }

.s-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 0; }

a.submit-search-job {
  height: 50px;
  line-height: 40px;
  width: 200px;
  border-radius: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#0DBE1F), to(#36E269));
  background: linear-gradient(to right, #0DBE1F, #36E269);
  display: block;
  border: 1px solid #36E269;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  background: linear-gradient(to right, #0DBE1F, #36E269);
  margin-top: 38px; }

a.submit-search-job:hover {
  -webkit-box-shadow: 0 3px 20px rgba(54, 226, 105, 0.6);
          box-shadow: 0 3px 20px rgba(54, 226, 105, 0.6);
  border: 1px solid #36E269; }

.item-news a {
  text-decoration: none; }

.seach-icon {
  height: 40px;
  width: 80px !important;
  text-align: center;
  border-radius: 0px 3px 3px 0; }

.seach-icon img {
  height: 40px;
  margin: auto;
  width: 40px;
  padding: 0; }

.register-right a:nth-child(2) {
  position: relative; }

.register-right a:nth-child(2):after {
  content: "";
  width: 1px;
  height: 20px;
  background: #007bff;
  left: 0;
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto; }

button.submit-seach-job {
  padding: inherit; }

button.submit-seach-job:hover {
  background: #0f73d6; }

.seach-left p {
  margin: 0; }

.s-teaser {
  margin: 0px; }

.box-career {
  padding: 50px 0 30px 0;
  background: #fff; }

.main {
  z-index: 0; }

.ca-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; }

.career-item-short {
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 83px;
  font-family: "Nunito Sans",sans-serif;
  color: #000; }

.ca-detail {
  margin-left: 15px; }

.ca-image {
  margin-top: -26px;
  margin-left: -26px;
  max-width: 69px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 69px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 69px;
      flex: 0 0 69px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center; }

.text-center h2 {
  margin-bottom: 50px; }

.register-right .btn:hover {
  background: #0E76DE;
  border: 1px solid #0e76de;
  color: #fff; }

.img-logo {
  padding: 0;
  width: 21%; }

.box-news {
  background: #f9f9f9;
  padding: 60px 0 40px; }

.ne-img {
  width: 100%;
  height: 178px;
  overflow: hidden; }

img.lazy {
  width: 100%;
  height: 100%; }

.item-news {
  display: block;
  width: 100%;
  max-width: 360px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: "Nunito Sans",sans-serif;
  color: #000;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  margin: 0 auto 20px;
  padding: 0; }

.seach-container .row {
  margin: 0; }

.ne-info .date {
  font-size: 14px;
  color: #a7a7a7;
  line-height: 19px;
  margin-bottom: 0px;
  height: 35px; }

.ne-info .date > span {
  font-size: 14px !important;
  color: #a7a7a7;
  line-height: 19px;
  margin-bottom: 10px; }

.item-news .ne-info {
  padding: 30px 20px; }

.ne-title {
  font-family: "Nunito Sans",sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 18px;
  min-height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; }

.box-news .row > div {
  padding: 0 10px; }

.ne-title:hover {
  color: #000; }

.ne-info p.teaser {
  line-height: 2;
  text-align: justify; }

.ne-info .teaser {
  height: 80px; }

.item-news .ne-info:hover {
  color: unset; }

a.item-news:hover {
  color: unset;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid #BAE3FF; }

.item-news .teaser {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  min-height: 72px;
  margin-bottom: 30px; }

.item-news .btn-news-view {
  background: #fff;
  color: #1799ff; }

.item-news .btn-news-view:hover {
  background: #fff;
  color: #1799ff; }

.footer-top {
  padding: 40px 0;
  background-color: #fff;
  color: #000; }

.footer-top .f-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 74px; }

.footer-top .f-count-item {
  width: 200px;
  text-transform: uppercase; }

.footer-top .f-count-item span {
  font-size: 30px;
  font-weight: 600;
  color: #000; }

.footer-top .address-title {
  font-weight: 600;
  margin-bottom: 0; }

.footer-top .f-count-item br {
  text-transform: uppercase;
  color: #a7a7a7;
  font-size: 14px; }

.f-menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.m-footer-item ul > li {
  list-style: none; }

.m-footer-item ul {
  padding: 0; }

p.m-footer-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px; }

.m-footer-item ul a {
  color: #000;
  line-height: 30px;
  text-decoration: none; }

.m-footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.m-footer-social ul li {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin: 10px; }

.m-footer-social li img {
  width: 100%;
  height: 100%;
  max-width: 45px;
  max-height: 45px; }

.f-copy-right {
  height: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  line-height: 40px; }

.item-news:hover {
  text-decoration: none; }

.register-right a:hover {
  color: #0f73d6; }

.collaps li {
  height: 100%;
  display: block;
  overflow: hidden; }

.header-mobile {
  display: none; }

.collaps a {
  display: inline-block; }

.f-logo {
  margin-bottom: 20px; }

p.f-title {
  font-weight: 600; }

.header-pc .register-right {
  display: contents; }

@media (min-width: 768px) and (max-width: 1024px) {
  .box-news .container {
    max-width: 100%; }

  .collaps li a {
    padding: 5px 15px; }

  .item-news {
    max-width: 100%; }

  .ne-img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover; }

  .collaps a {
    line-height: unset;
    display: contents;
    display: inline-block !important; }

  .seach-header input {
    min-width: 250px; }

  .register-right a {
    padding: 0 10px; }

  .register-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
/*(min-width: 768px) and (max-width: 1024px)*/
@media (min-width: 769px) {
  .header-m {
    display: none; } }
/*min-width: 769px*/
@media (max-width: 768px) {
  .box-news {
    padding: 30px 0 20px 0; }

  .ca-image {
    max-height: 60px;
    max-width: 60px; }

  .career-item-short {
    height: 70px; }

  h2.title {
    font-size: 24px; }

  .header-m {
    position: fixed;
    z-index: 100000;
    width: 100%;
    background: #fff;
    display: block;
    -webkit-box-shadow: 0px 1px 10px rgba(1, 100, 200, 0.5);
            box-shadow: 0px 1px 10px rgba(1, 100, 200, 0.5);
    position: fixed !important;
    /*Cho menu cố định 1 vị trí với top và left*/
    top: 0;
    /*Nằm trên cùng*/
    left: 0;
    /*Nằm sát bên trái*/
    z-index: 100000;
    /*Hiển thị lớp trên cùng*/ }

  .box-career {
    padding-top: 20px; }

  .text-center h2 {
    margin-bottom: 30px; }

  .form-seach input {
    width: 100%;
    margin-bottom: 10px; }

  .banner {
    padding: 0;
    margin-top: 130px; }

  .form-seach select.form-control {
    width: 100%; }

  .form-seach .submit-seach-job {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .top-head {
    display: none; }

  .box-news .container {
    max-width: 100%; }

  .item-news {
    max-width: 100%; }

  .seach-container > .row {
    display: block !important; }

  .banner {
    height: auto !important; }

  .group-seach {
    display: block; }

  .seach-left {
    max-width: 100%;
    padding: 10px;
    border-radius: 0; }

  .seach-left h1 {
    font-size: 20px;
    margin-bottom: 20px; }

  .seach-right {
    max-width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 0; }

  .seach-right a.submit-search-job {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px auto; }

  .seach-left p {
    display: none; }

  .banner {
    padding-top: 0px;
    padding-bottom: 0px; }

  .top-head-m .img-logo {
    height: 70px; }

  .top-head-m {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 70px;
    padding: 10px; }

  .logo-m {
    width: 80%;
    height: 100%; }

  .img-logo-m img {
    height: 100%;
    max-height: 100%; }

  .button-m {
    height: 100%;
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  i.fa-bars {
    font-size: 30px; }

  .button-m button {
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .seach-header-m {
    padding: 10px; }

  .seach-header-m input {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #e9ecef;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 10px; }

  .seach-icon-m {
    height: 40px;
    width: 20%;
    border: 1px solid #e9ecef;
    border-left: 0px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .register-m {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 328%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 100px;
    background: #efefef;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -webkit-transition: width 2s;
    transition: width 2s; }

  .register-m a {
    border: 1px solid #007bff;
    padding: 15px 20px;
    font-size: 16px;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 500;
    text-decoration: none !important;
    margin: 20px 0;
    text-align: center;
    color: #0f73d6;
    border-radius: 10px;
    background: #fff;
    font-weight: 600; }

  #nav-register {
    display: none; } }
/*max-width: 768px*/
.group-seach > input:focus {
  border: red !important;
  border: 2px solid red !important;
  color: red !important; }

.group-seach input:focus-within {
  border: red !important;
  border: 1px solid red !important;
  color: red !important; }

.group-seach input:visited {
  border: 1px solid red !important; }

.group-seach input:hover {
  border: 1px solid red; }

.filter-category {
  margin-top: 120PX; }

/*# sourceMappingURL=style1.css.map */