*{
	margin: 0;
	padding: 0;
}
.slick-group{
	width: 800px;
	margin:  auto;
	height: 200px;
	border: 2px solid;
	position: relative;
}
img{
	width: 800px;
    height: 200px;
}
#next{
	position: absolute;
	top: 50%;
	z-index: 100;
	border: 1px solid;
    right: 0;
    color: #fff;
    text-decoration: none;
}
#prev{
	position: absolute;
	top: 50%;
	z-index: 100;
	border: 1px solid;
    left: 0;
    color: #fff;
    text-decoration: none;
}
ul{
	position: absolute;
    display: flex;
    left: 50%;
}
ul li{
	list-style: none;
	padding: 10px;
	margin: 5px;
	background: red;
	font-size: 18px;
}
