.img-info {
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
    }

    

    .slick-prev:before, .slick-next:before {
        color: red;

    }

    .slick-prev, .slick-next {
        z-index: 99999999;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .title-price-product .title {
        font-weight: 600;
        font-size: 20px;
        /* -webkit-line-clamp: 2; */
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        line-height: 1.3em;
    }

    .title-price-product .price {
        color: #e32f2f;
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
    }

    .title-price-product .address {
        color: #666;
    }

    .describe-product {
        padding-top: 12px !important;
    }

    .mt-12px {
        margin-top: 12px !important;
    }

    .info-human .user img {
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
    }

    .info-human .user {
        width: 50px;
        height: 50px;
    }

    .info-human .user img {
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #666;
    }

    .info-human .name {
        width: calc(100% - 50px);
    }

    .info-human .name a {
        color: #333;
        font-weight: 600;
    }

    .img-warning {
        width: 50px;
        height: 50px;
        margin-top: 6px;
    }

    .warning .text {
        width: calc(100% - 50px);
        font-weight: 600;
        font-size: 14px;
        padding-top: 12px;
    }

    .detail-right {
        position: relative;
    }

    #btn_save_ad {
        position: absolute;
        bottom: 5px;
        right: 5px;
        z-index: 99999;
        cursor: pointer;
        outline: none;
        border: none;
    }
.slide-web{
    img{
    max-width: 100%;
    max-height: 100%;
    }
}

.dieuhuong{
    .fa-angle-left{
        height: 30px;
    /* font-size: 30px; */
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: 50%;
    color: #f3eded;
 
    border: 1px;
    background: #f33838;
    width: 30px;
    text-align: center;
    /* align-items: center; */
    border: 1px solid;
    border-radius: 15px;
    line-height: 30px;
    z-index: 99;
    }
    .fa-angle-right{
        z-index: 99;
        height: 30px;
        /* font-size: 30px; */
        font-weight: bold;
        position: absolute;
        right: 5px;
        top: 50%;
        color: #f3eded;
        border: 1px;
        background: #f33838;
        width: 30px;
        text-align: center;
        /* align-items: center; */
        border: 1px solid;
        border-radius: 15px;
        line-height: 30px;
    }
}
.slick-track{
    display: inline;
    opacity: 1; width: 4249px;
     transform: translate3d(-1214px, 0px, 0px);
    .slick-slide{
        width: 100%;
        height: 500px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.img-warning{
    img{
        height: 100%;
    width: 100%;
    }
    
}
.checkbox-foot{
    .form-group{
        margin-bottom: 20px;
        padding: 0;
        label{
            width: 20%;
        }
        .form-control{
            width: 80%;
        }
    }
    .input-cmt {
        position: relative;
        button.btn-send-cmt{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
@media(max-width: 767px){
    .slick-slide{
        height: 300px !important;
    }
}
@media(max-width: 320px){
    .slick-slide{
        height: 250px !important;
    }
}