.collaps {
    display: inline-flex;
    width: 79%;
}
.collaps ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.seach-header{
    
        display: flex;
}
.top-head{
    padding: 5px 10px;
    max-width: 1346px;
    margin: 0 auto;
    height: 70px;
}
.top-head-container{
    display: flex;
    max-height: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

form.seach-header{
    height: 40px;
    margin: auto;
    input:focus{
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
}
.seach-header>span>img{
    height: 30px !important;
    width: 30px !important;
}
 img.logo{
    max-height: 100%;
    height: 100%;
    padding: 0;
    max-width: 100%;
}
.seach-header input{
    display: block;
    min-width:350px;
    width: 100%;
    border-radius: 3px;
    padding-left: 10px;
    
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;

}
.seach-icon i{
    font-size: 20px;
}
.ca-detail p{
    text-decoration: none;
    margin: 0;
}
a.career-item-short:hover{
    text-decoration: none;
}
.seach-header span{
    align-items: center;
    
    margin-bottom: 0;
    
    font-weight: 400;
    line-height: 40px;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    
        border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    width: 20%;
}
.collaps{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.collaps a{

    padding: 18px 15px;
}
header a{  
    font-size: 16px;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    text-decoration: none !important;
    color: #ffffff;
   
}


.header-pc{
    display: block;
    position: fixed;
    z-index: 10000;
    background: #005baa;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(1,100,200,0.5);
}

.banner{
    width: 100%;
    height: 430px;
    background-color: #000;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Nunito Sans",sans-serif;
    padding: 60px 15px;
    margin-top: 70px; 

}
.form-group{
    display: flex;
    margin: 0px;
}
.seach-container{
    max-width: 1316px;
    width: 100%;
    margin: auto;
}    


.form-group input{
    border-radius: 2px;
    background: #fff;
    border: 1px solid #B2E0FF;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    padding: 14px 15px;
    height: 50px;
    width: 50%;
}
.form-group select{
    width: 30%;
}
.form-group button{
    width: 20%;
}
select.form-control{
    height: 50px;
    flex-grow:3 ;
}
 .seach-left button.submit-seach-job{
    background: #4fb1f8;
    color: #ffffff;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
        flex: 0 0 200px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #B2E0FF;
    background: linear-gradient(to right, #0F73D6, #5BBDFF);
    display: block;
}
.seach-left button.submit-seach-job:hover{
    
     background: linear-gradient(to right, #0F73D6, #5BBDFF) !important;
     border: 1px solid #B2E0FF;
         box-shadow: 0 4px 14px #0f73d666;
}
.seach-right button.submit-seach-job{
    background: #4fb1f8;
    color: #ffffff;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    flex: 0 0 200px;
    height: 50px;
    
    border: 1px solid #B2E0FF;
    background: linear-gradient(to right, #0DBE1F, #36E269);
    display: block;
    border: 1px solid #36E269;
}

.seach-left{
    color: black;
    background: rgba(255,255,255,0.9);
    border-radius: 4px 0px 0px 4px;
    padding: 55px 50px 25px;
}
.seach-left h1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: 600;
    color:#32325b;
}
.seach-left p{
    font-size: 20px;
}
.seach-right{
    background: #E2FFF4;
     border-radius: 0 4px 4px 0;
    padding: 55px 50px 40px;
}

.seach-right p{
    color: #000000;
}
.s-title{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 0;
}
a.submit-search-job{
    height: 50px;
    line-height: 40px;
    width: 200px;
    border-radius: 2px;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(to right, #0DBE1F, #36E269);
    display: block;
    border: 1px solid #36E269;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    background: -webkit-gradient(linear, left top, right top, from(#0DBE1F), to(#36E269));
    background: linear-gradient(to right, #0DBE1F, #36E269);
    margin-top: 38px;
}
a.submit-search-job:hover{
        box-shadow: 0 3px 20px rgba(54,226,105,0.6);
        border: 1px solid #36E269;
}
.item-news a{
    text-decoration: none;
}
.seach-icon{
   height: 40px;
    width: 80px !important;
    text-align: center;
    border-radius: 0px 3px 3px 0; 

}
.seach-icon img{
    height: 40px;
    margin: auto;
    width: 40px;
    padding: 0;
}
.register-right a:nth-child(2){
    position: relative;
}
.register-right a:nth-child(2):after{
       content: "";
    width: 1px;
    height: 20px;
    background: #007bff;
    left: 0;
    top: 0;
    position: absolute;
    bottom: 0;
    margin: auto;
}
button.submit-seach-job{
    padding: inherit;
}
button.submit-seach-job:hover{
    background: #0f73d6;
}
.seach-left p{
    margin: 0;

}
.s-teaser{
    margin: 0px;
}
.box-career{
    padding: 50px 0 30px 0;
    background: #fff;
} 

.main{
    z-index: 0;
}
.ca-image img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.career-item-short{
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 6px;
        box-shadow: 0 3px 20px rgba(0,0,0,0.1);
        padding: 15px;
        display: flex;
    position: relative;
    height: 83px;
    font-family: "Nunito Sans",sans-serif;
    color: #000;
}
.ca-detail{
    margin-left: 15px;
}
.ca-image{
    margin-top: -26px;
    margin-left: -26px;
    max-width: 69px;
    overflow: hidden;
        display: flex;
    height: 69px;
    -webkit-box-flex: 0;
        flex: 0 0 69px;
    -webkit-box-align: center;
        align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.text-center h2{
    margin-bottom: 50px;
}

.img-logo{
    
    width: 21%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
}
.box-news{
    background: #f9f9f9;
    padding: 60px 0 40px;
}
.ne-img{
        width: 100%;
    height: 178px;
    overflow: hidden;
}
img.lazy{
    width: 100%;
    height: 100%;
}
.item-news{
        display: block;
    width: 100%;
    max-width: 360px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: "Nunito Sans",sans-serif;
    color: #000;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    margin: 0 auto 20px;
    padding: 0;
}
.seach-container .row{
    margin: 0;
}
.ne-info .date{
        font-size: 14px;
    color: #a7a7a7;
    line-height: 19px;
    margin-bottom: 0px;
    height: 35px;
}
.ne-info .date > span{
    font-size: 14px !important;
    color: #a7a7a7;
     line-height: 19px;
    margin-bottom: 10px;
}

.item-news .ne-info {
    padding: 30px 20px;
}
.ne-title{
    font-family: "Nunito Sans",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 18px;
    min-height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.box-news .row>div{
    padding: 0 10px;
}
.ne-title:hover{
    color: #000;
}
.ne-info p.teaser{
    line-height: 2;
    text-align: justify;
}

.ne-info .teaser{
    height: 80px;
}
.item-news .ne-info:hover{
    color: unset;
}
a.item-news:hover{
    color: unset;
        box-shadow: 0 3px 20px rgba(0,0,0,0.06);
    border: 1px solid #BAE3FF;
}
.item-news .teaser{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 72px;
    margin-bottom: 30px; 
}
.item-news .btn-news-view{
    background: #fff;
    color: #1799ff;
}
.item-news .btn-news-view:hover{
    background: #fff;
    color: #1799ff;
}
.footer-top{
        padding: 40px 0;
    background-color: #fff;
    color: #000;
}
.footer-top .f-count{
    display: flex;
    margin-bottom: 74px; 
}
.footer-top .f-count-item{
    width: 200px;
    text-transform: uppercase;
}
.footer-top .f-count-item span{
    font-size: 30px;
    font-weight: 600;
    color: #000;
   
}
.footer-top .address-title{
    font-weight: 600;
    margin-bottom: 0;
}
.footer-top .f-count-item br{
    text-transform: uppercase;
    color: #a7a7a7;
    font-size: 14px;
}
.f-menu-footer{
    display: flex;
    justify-content: space-between
}
.m-footer-item ul>li{
    list-style: none;
}
.m-footer-item ul{
    padding: 0;
}
p.m-footer-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.m-footer-item ul a{
        color: #000;
    line-height: 30px;
    text-decoration: none;
}
.m-footer-social ul{
    display: flex;
    
}
.m-footer-social ul li{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin: 10px;
}
.m-footer-social li img{
    width: 100%;
    height: 100%;
    max-width: 45px;
    max-height: 45px;

}
.f-copy-right{
        height: 40px;
    text-align: center;
    align-items: center;
    background: #f9f9f9;
    line-height: 40px;
}
.item-news:hover{
	text-decoration: none;
}


.collaps li{
	height: 100%;
	display: block;
	overflow: hidden;

}
.header-m{
    background: #005baa;
    display: none;
    
}
.collaps a {
	display: inline-block;
}
.f-logo{
    margin-bottom: 20px;
}
 p.f-title{
    font-weight: 600;
}
.header-pc {
    .collaps {
        a{
            &:hover{
                color: #ffffff;
            }
            &:active{
                background: #ffffff;
                color: #005baa;
            }
            &:focus{
               background: #ffffff;
               color: #005baa;
               border-radius: 5px;
               font-weight: 600;
            }
   
        }
    }
   
    .register-right{
        display: contents;
    }
}
#page-auth{
    margin-top: 80px;
    padding: 50px 0;
     background: #f9f9f9;
     .form-group{
        display: block;
        width: 100%;
      
        max-width: 100%;
        background: #fff;
        padding: 10px 20px;
        margin-bottom: 20px;
         input{
             width: 100%;
             border: 0;
             border-bottom: 1px solid #E3E3E3;
             height: 30px;
             padding: 0;
             &:focus{
                box-shadow: none;
             }
         }
         p{
             margin: 0;
             color: #a7a7a7;
         }
     }
     .form-login{
         padding: 20px;
         width: 400px;
         h1{
             text-align: center;
             font-size: 30px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 15px;
            }
         p{
             text-align: center;
         }
         label{
             color: #a7a7a7;
         }
         .bg-re-forgot{
             background: none;
         }
         .form-submit{
             width: 100%;
             background: #0099ff;
             height: 50px;
             border-radius: 0;
             border: 0;
             font-size: 16px;
             font-weight: 600;
             color: #ffffff;
         }
         .sign-fb{
            width: 100%;
            background: #3363d2;
            height: 50px;
            border-radius: 0;
            border: 0;
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            text-decoration: none;
            display: block;
          
            line-height: 50px;
            margin-bottom: 20px;
            padding: 0 15px;
            i{
                font-size: 30px;
                margin-right: 30px;
                
                
            }
         }
         .sign-gg{
             background: #D85656;
         }
         .bg-re-forgot{
             display: flex;
             justify-content: space-between;
             padding: 0;
         }
         .create-one{
             padding: 30px 0;
             text-align: center;
         }
         .or-register-other{
             text-align: center;
             padding-bottom: 30px;
         }
     }
        .form-control:focus{
               box-shadow: none;
     }
  
}
.form-login{

    margin: auto;
    .or-register-other{
            text-align: center;
            padding-bottom: 30px;
            position: relative;
            border-top: 1px solid #e3e3e3;
            text-align: center;
            z-index: 1;
        span{
            
            position: absolute;
            top: -13px;
            font-size: 16px;
            background: #f9f9f9;
            z-index: 2;
            padding: 0 5px;
            font-weight: 500;
            left: 45%;

        }

    }
    .box-remember-me{
        display: flex;
        width: 50%;
        input{
            height: 20px !important;
            width: 20px !important;
            margin-right: 10px;
        }
    }
}
// profile--------------------
       
.filter-category {
    margin-top: 120PX;
  
}
.group-seach input{
    box-shadow: none;
    &:focus{
        border: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    
    }
    
}
.container-fluid{
    margin-top: 80px;
    padding-top: 20px;
    label{
        font-size: 16px;
        line-height: 1.3;
        color: #000000;
        font-weight: 400;
    }
   .form-group{
       width: 100%;
       display: block;
       margin-bottom: 10px;
       select.form-control{
           display: block;
           width: 100%;
           height: 45px;
       }
       input{
           height: 45px;
         
           border-radius: 5px;
           border: 1px solid #ced4da;
       }
       input[type=file]{
           line-height: 18px ;
           padding-top: 10px;
           padding-bottom: 10px;
       }
        input.incognito{
            height: 20px;
            line-height: 0;
            width: 20px;
            margin-right: 10px;
       }
       .radio-sell{
           width: 50%;
           float: left;
           padding: 0;
          input{
            margin-right: 15px;
            height: 20px;
            width: 20px;
            padding: 0;
          
           }
           input[type=radio]:checked{
                color: red;
                background: red;
                border-radius: 2px;
                &::before{
                    background : #000000;

                }
           }
       }
       input.form-control{
           width: 100%;
       }
   }

   .form-row{
    margin: 0;
    padding: 0;
    margin-top: 55px;
    width: 100%;
        .form-group{
            .btn-cancel{
                background: #efefef;
                width: auto;
            }
            .btn-success{
                background: #28a745;
                border-color:#28a745 ;
                width: auto;
            }

        }
   }
   
}
.box-profile-tabs{
    margin-top: 80px;
    color: #fff;
    font-family: "Nunito Sans",sans-serif;
   
    h1.title{
        padding: 20px 0;
        text-align: center;
        background-image: -webkit-gradient(linear, left top, right top, from(#12AF5B), to(#39FFA2));
        background-image: linear-gradient(to right, #12AF5B, #39FFA2);
    }
}
#page-profile{
    background: #f9f9f9;
}
.box-profile-detail{
    margin-top: 10px;
    padding-bottom: 20px;
    
    .profile-status{
        background-color: #fff;
        border: 1px solid #E3E3E3;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 25px 20px 25px 25px;
        justify-content: space-between;
        border: 1px solid #E3E3E3;
        .s-title{
            font-size: 16px;
        }
        .switcher-status{
            background: #005baa;
            color: #fff;
            font-size: 16px;
            width: 112px;
            height: 40px;
            font-weight: 700;
            text-align: center;
            line-height: 40px;
           .active{
               background: #fff;
               color: #0e76de;
           }
            .switcher{
                width: 50%;
                height: auto;
                border-radius: 0;
                padding: 5px 13px;
                &:active{
                    background: #fff;
                    color: #0e76de;
                }

            }
        }
    }
    .profile-sidebar-menu{
        margin-top: 20px;
        background: #fff;
        padding: 25px 25px 25px 26px;
        border: 1px solid #E3E3E3;
        .title{
            font-size: 20px;
            text-transform: uppercase;
            line-height: 27px;
            font-weight: 600;
            color: #0E76DE;
            margin-bottom: 5px;
        }
        ul{
            padding: 0;
           
            li{
                list-style: none;
                text-decoration: none;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 19px;
               

                &:first-child{
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;
                    line-height: 24px;
                }
                a{
                    color: #000;
                    text-decoration: none;
                }
                span{
                    float: right;
                    min-width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    color: #fff;
                    background: #0E76DE;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    overflow: hidden;
                    padding: 3px 5px;
                }
            }
        }

    }
    .profile{
        width: 100%;
    }
    .profile-info{
       
        .account-box{
            padding: 25px 20px;
            background: #fff;
            border: 1px solid #E3E3E3;
            h3.title{
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 13px;
            }
            .form-group{
                display: block;
                margin-bottom: 23px;
               input{
                    width: 100% !important;
                    max-width: 80%; 
                    background-color: #E3E3E3;
                    border-radius: 0;
                    height: 40px;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                    border: none;
                }
                label{
                    font-size: 14px;
                    line-height: 19px;
                    color: #A7A7A7;
                    margin-bottom: 8px;
                }
                .btn-change-password{
                    display: block;
                    width: 80%;
                    border-radius: 0;
                    border: 1px solid #0E76DE;
                    color: #0E76DE;
                    height: 40px;
                    &:hover{
                        background-color: #0E76DE;
                        border: 1px solid #0E76DE;
                        color: #fff;
                        box-shadow: 0 3px 14px rgba(14,118,222,0.4);
                    }
                    &:active{
                        background-color: #0E76DE;
                        border: 1px solid #0E76DE;
                        color: #fff;
                       
                        box-shadow: 0 3px 14px rgba(14,118,222,0.4);
                    }
                }

            }
        }
        
    }

}
// --------profile//////
// my-news
#my-news{
    h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .container{
        width: unset;
    }
    .date-apply{
        display: flex;
        justify-content: space-between;
    }
}
.news{
    .news-item{
        list-style: none;
        margin-bottom: 20px;
        height: 130px;
        background-color: #fff;
        display: block;
        border: 1px solid #E3E3E3;
        padding:10px;
        font-family: "Nunito Sans",sans-serif;
        font-size: 16px;
        color: #000;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        line-height: 22px;
        position: relative;
        .img-item{
            height: 110px;
            padding: 0;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .apply-edit{
            margin-top: 10px;
            display: flex;
            .edit{
                margin-right: 15px;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    background: #0e76de;
                    bottom: 0;
                    left: 38px;
                    top: 6px;
                }
            }
            .delete{
                color:red;
            }
        }
    }
}
// my-news
@media(max-width: 1024px){
    .header-pc{
        position: fixed;
    }
     #page-profile{
         margin-top: 20px;
         .profile-status{
             padding: 25px 20px 25px 20px;
         }
         .box-profile-tabs{
             div.container{padding: 0;
             margin: 0;
             min-width: 100%;
             overflow: hidden;
         }
     
         } 
     }
     .profile-status{
        .s-title,.switcher{
            font-size: 14px !important;
        }
        .switcher-status{
               width: 105px !important; 
        }
     }
}
@media(max-width: 1024px) and (min-width: 768px){
   
	.box-news .container{
		max-width: 100%;
    }
    
	.collaps li a{
		    padding: 5px 15px;
	}
	.item-news{
		max-width: 100%;
	}
	.ne-img{
		height: 200px;
		object-fit: cover;
	}
	.collaps a{
		line-height: unset;
		display: contents;
		display: inline-block !important;

	}
	
	.seach-header input{
		min-width: 250px;
	}
	.register-right a{
		padding: 0 10px;

	}
	.register-right{
		display: flex;
	}

} /*(min-width: 768px) and (max-width: 1024px)*/
@media(max-width:992px){
    .profile-info{
        margin-top: 20px;
    }
    .header-m {
        position: fixed;
        z-index: 100000;
        width: 100%;
        background: #005baa;;
        display: block;
        box-shadow: 0px 1px 10px rgba(1,100,200,0.5);
        position: fixed !important; /*Cho menu cố định 1 vị trí với top và left*/
        top: 0; /*Nằm trên cùng*/
        left: 0; /*Nằm sát bên trái*/
        z-index: 100000; /*Hiển thị lớp trên cùng*/
    }
    .top-head-m .img-logo{
		height: 70px;
	}
	.top-head-m{
		    display: inline-flex;
            height: 70px;
            
            padding: 10px;
	}
	.logo-m{
		    width: 80%;
            height: 100%
	}
	.img-logo-m img{
		    height: 100%;
            max-height: 100%;
	}
	.button-m{
		    height: 100%;
    
            width: 20%;
            align-items: center;
	}
	i.fa-bars{
		font-size: 30px;
	}
	.button-m button{
		height: 100%;
        width: 100%;
        align-items: center;
        color: #ffffff;
	}
	.seach-header-m{
		padding: 10px;
	}
	.seach-header-m input{
		height: 40px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #e9ecef;
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 5px 10px;
	}
	.seach-icon-m{
        height: 40px;
        width: 20%;
        border: 1px solid #e9ecef;
        border-left: 0px; 
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
	}
	

	.register-m{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 100px;
        background: #efefef;
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition: width 2s;
    
	}
	.register-m a{
       
        padding: 5px 15px;
        font-size: 16px;
        font-family: "Nunito Sans",sans-serif;
        font-weight: 500;
        text-decoration: none !important;
        margin: 5px 0;
        text-align: center;
        color:#0f73d6;
        border-radius: 10px; 
        font-weight: 600;

    }
    .box-profile-tabs {
        margin-top: 130px;
        color: #fff;
        font-family: "Nunito Sans",sans-serif;
        padding-top: 20px;
    }
}

 @media(max-width: 768px){
     .box-profile-tabs{
        margin-top: 180px;
        padding: 20px;
     }
        .container-fluid{
            padding-left: 10px;
            padding-right: 10px;
        } 
     .justify-content-center{
        width: 100%;
        box-sizing: border-box;
        .form-login{
            width: auto !important;
           
            padding:20px 0 !important;
        }
        .col-auto{
            padding: 0;
        }
        .sign-fb{
            text-align: center;
        }
     }
    .box-news{
        padding: 30px 0 20px 0;
    }
    .ca-image{
        max-height: 60px;
        max-width: 60px;
    }
    .career-item-short{
        height: 70px;
    }
    h2.title{
        font-size: 24px;
    }
 	.header-m {
        position: fixed;
        z-index: 100000;
        width: 100%;
        background: #005baa;;
        display: block;
        box-shadow: 0px 1px 10px rgba(1,100,200,0.5);
        position: fixed !important; /*Cho menu cố định 1 vị trí với top và left*/
        top: 0; /*Nằm trên cùng*/
        left: 0; /*Nằm sát bên trái*/
        z-index: 100000; /*Hiển thị lớp trên cùng*/
    }
    .box-career{
        padding-top: 20px; 
    }
    .text-center h2 {
        margin-bottom: 30px;
    }
    .form-seach input{
 		width: 100%;
 		margin-bottom: 10px;
    
 	}
    .banner {
        padding: 0;
        margin-top: 130px;

    }

 	.form-seach select.form-control{
 		width: 100%;
 	}
 	.form-seach .submit-seach-job{
 		width: 100%;
 		margin-top: 10px;
 		margin-bottom: 10px;

 	}
 	.top-head{
 		display: none;
 	}
	.box-news .container{
		max-width: 100%;
	}
	.item-news{
		max-width: 100%;
	}
	.seach-container>.row{
		display: block !important;
	}
	.banner{
		height: auto !important;
	}
	.group-seach{
        display: block;
        input{
           &:focus{
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
           }
        }
	}
	.seach-left{
		max-width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.seach-left h1{
		font-size: 20px;
		margin-bottom: 20px; 
	}
	.seach-right{
      max-width: 100%;
      padding: 10px;	
      text-align: center;
      border-radius: 0;
	}
	.seach-right a.submit-search-job{
		align-items: center;
    margin: 20px auto;
	} 
	.seach-left p{
		display: none;
	}
	.banner{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.top-head-m .img-logo{
		height: 70px;
	}
	.top-head-m{
		    display: inline-flex;
            height: 70px;
            
            padding: 10px;
	}
	.logo-m{
		    width: 80%;
            height: 100%
	}
	.img-logo-m img{
		    height: 100%;
            max-height: 100%;
	}
	.button-m{
		    height: 100%;
    
            width: 20%;
            align-items: center;
	}
	i.fa-bars{
		font-size: 30px;
	}
	.button-m button{
		height: 100%;
        width: 100%;
        align-items: center;
        color: #ffffff;
	}
	.seach-header-m{
		padding: 10px;
	}
	.seach-header-m input{
		height: 40px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #e9ecef;
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 5px 10px;
	}
	.seach-icon-m{
        height: 40px;
        width: 20%;
        border: 1px solid #e9ecef;
        border-left: 0px; 
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
	}
	

	.register-m{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 100px;
        background: #efefef;
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition: width 2s;
    
	}
	.register-m a{
        
        padding: 10px 15px;
        font-size: 16px;
        font-family: "Nunito Sans",sans-serif;
        font-weight: 500;
        text-decoration: none !important;
        margin: 5px 0;
        text-align: center;
        color:#0f73d6;
        font-weight: 600;

	}
	#nav-register{
		display: none;


    }
    .f-logo{
        max-width: 100%;
        .img-responsive{
            width: 100%;
            max-width: 50%;
        }
    }


}/*max-width: 768px*/
@media(max-width:767px){
    #my-news {
        h2.title{
            text-align: center;
        }
        margin-top: 30px;
        .date-apply{
            height: 150px;
            padding: 10px;
            justify-content: unset;
            flex-wrap: wrap;

        }
        .apply-edit{
            a{
                margin: 0 5px;
            }
        }
    }
    .box-profile-tabs{
        margin-top: 140px;
        padding: 15px !important;
    }
    .profile-sidebar{
        padding-left: 15px !important;
        padding-right: 15px;
    }
    .box-profile-detail .profile-info .account-box .form-group input {
        max-width: 100%;
    }
    .box-profile-detail .profile-info .account-box .form-group .btn-change-password{
        max-width: 100% !important;
        width: 100%;
    }
    #page-profile .profile-info {
        padding-right: 15px;
        margin-top: 20px;
    }
}
#edit-profile{
    margin-top: 70px;
    z-index: 1;
    padding: 50px;
    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
      
    .clearfix {
        clear: both;
        display: block;
    }
    h1.text-center{
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
        line-height: 40px;
    }
    form.edit-user{
        margin: 40px auto 0;
        border: 1px solid;
        background: #fff;
        border-radius: 2px;
        max-width: 744px;
        padding: 30px 0 ;
        border: 1px solid #0099FF;
        margin-bottom: 50px;
    }
    .form-group{
        width: 50%;
        display: block;
        float: left;
        padding: 10px 40px;
        input.form-control{  border: 0 !important;
            border-bottom: 1px solid #ced4da !important;
        }
        
        input.form-control, select.form-control[name="gender"]{
            width: 100%;
        }
        input.form-control[type="file"]{
            border: 1px solid #ced4da !important;
            padding: 5px;
            line-height: 20px;
           
        }

    }
    .box-btn{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        
        button{
            width: 30%;
            height: 50px;
            border-radius: 0;
            color: #fff;
            background: #0099ff;
            font-weight: 600;
            box-shadow: none;
            border: 0;
        }
    }
    .group-date-of-birth{
        display: flex;
        justify-content: space-between;
        .date-form{
            width: 26%;
          
            select{
                width: 100%;
            }
        }
        .year{
            width: 35%;
        }
        .month{
            width: 35%;
        }
    }
}
@media(max-width: 992px){
    #edit-profile{
        margin-top: 130px !important;
        padding-left: 0;
        padding-right: 0;
        .justify-content-center{
            margin: 0;
        }
        .form-group{
            padding: 10px 15px;
        }
        .container{
            padding: 0;
        }

    }
    .f-menu-footer{
        justify-content: space-between;
        flex-wrap: wrap;
        .m-footer-item{
            width: 50%;
        }
    }

}
@media(max-width: 768px){
    #edit-profile{
        margin-top: 180px !important;
        padding: 20px;
        padding-top: 65px;
    }
}
@media(max-width: 767px){
    #edit-profile{
        margin-top: 140px !important;
        padding: 20px;
        padding-top: 65px;
        .box-group{
            .form-group{
                width: 100%;
                float: unset;
                input{
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 16px;
                }
            }
        }
        .box-btn{
            display: block;
            button{
                display: block !important;
                margin: auto;
                width: 50%;
                margin-bottom: 20px;
            }

        }
    }
    
}
.login-sc{
    .btn{
        background: #fff;
        padding: 10px;
        margin-right: 25px;
    }
    i{
        font-size: 25px;
        color: #fff;
    }
    .user-login{
        margin-left:  40px;
        position: relative;
        .dropdown-menu{
            top: 164%;
            right: 100%;
            z-index: 1000;
            float: left;
            min-width: 150px;
        }
    }
}
