* {
    font-family: 'Roboto', sans-serif !important;
}

main {
    max-width: 1346px;
    margin: 0 auto;
    padding-top: 80px;
}

footer {
    max-width: 1346px;
    margin: 0 auto;
}

.col-news-left {
    max-width: 979px !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.slick-slide img {
    width: auto !important;
    object-position: center center;
}

.slick-slide > div {
    text-align: center;
}

header {
    background: RGB(0, 91, 170);
    color: white;
}

header * {
    color: white !important;
}

header input {
    color: #444444 !important;
}

header .btn-post-jobs {
    background: white;
    color: #0E76DE !important;
    border: 1px solid #0E76DE;
    border-radius: 5px;
}

header .btn-outline-success:hover {
    background: white !important;
    border: 1px solid #fff9e9 !important;
    color: #0E76DE !important
}

header .btn-post-jobs:hover, header .btn-post-jobs:active {
    background: white !important;
    border: 1px solid #fff9e9 !important;
    color: #0E76DE !important
}

#header_menu_mobile_child * {
    color: #007bff !important;
}

header .dropdown-menu * {
    color: #444444 !important;
}

@media (max-width: 768px) and (min-width: 321px) {
    main {
        padding-top: 121px !important;
    }
}

@media (max-width: 991.98px) {
    .container {
        /*padding-right: 10px;*/
        /*padding-left: 10px;*/
        /*margin: auto 10px;*/
    }

    .box-search {
        height: 200px !important;
    }

    .btn-post-jobs {
        display: none;
    }

    #header_menu_mobile {
        display: block;
        margin-top: 60px;
    }

    #header_menu_mobile_child {
        display: block;
    }

    .row {
        /*margin-right: -30px;*/
        /*margin-left: -30px;*/
    }

    .list-items .row {
        /*margin: 0 auto;*/
    }

    .list-items li {

    }

    .list-classifieds ul.list-items li {
        margin-right: -9px;
    }

    #header_logo {
        width: 140px !important;
    }

    header .navbar {
        height: 40px !important;
    }

    main {
        padding-top: 94px;
    }

    .register-right a {
        color: #0E76DE !important;
    }

    .navbar-collapse .register-right .btn-post-jobs {
        margin: 0 !important;
    }
}

@media (max-width: 575.98px) {
    .footer-top .f-menu-footer .m-footer-item.chance {
        -webkit-box-flex: inherit;
        -ms-flex: auto;
        flex: none;
    }
}

@media (max-width: 575.98px) {
    .footer-top .f-menu-footer .m-footer-item.chance {
        -webkit-box-flex: inherit;
        -ms-flex: auto;
        flex: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

.box-search {
    height: 300px;
    overflow: hidden;
    background: none;
    padding: 0px !important;
    border-radius: 6px;
}

.box-search a {
    width: 100%;
    height: 300px;
    display: block
}

.box-search img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    margin: auto;
    display: block
}

.slick-prev:before, .slick-next:before {
    color: red;

}

.slick-prev, .slick-next {
    z-index: 1029;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.register-right a:last-child {
    border-left: 1px solid #0E76DE;
}

.btn-post-jobs {
    background: #0E76DE;
    border: 1px solid #0e76de;
    color: #fff;
}

/** CSS cho classified index **/

.info-post h3 a {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: inherit;
}

.list-classifieds ul.list-items {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.list-classifieds ul.list-items li {
    min-height: 129px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.14);
    border-left: 1px solid rgba(112, 112, 112, 0.14);
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px;
    border-radius: 0;
    margin-bottom: 20px;
    font-family: "Nunito Sans", sans-serif;
    height: auto;
    color: #000;
    -webkit-box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.list-items .classified-avatar {
    height: 150px;
    overflow: hidden;
}

.list-items .classified-avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    margin: auto;
    display: block;
}

.contact-info {
    border-left: 1px solid rgba(112, 112, 112, 0.14);
}

.price {
    color: #e32f2f;
    font-weight: 600;
    font-size: 18px;
}

.phone-vip-news {
    color: #28a745;
}

.title-filter h1 {
    font-size: 18px;
    line-height: 24px;
    color: #333;
    font-weight: 600;
}

.like-classified-button {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

ul.category_childs {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.category_childs li {
    float: left;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid #007bfe; */
    margin: 5px;
    box-shadow: 0px 0px 2px 1px #007bfe;
}

@media (max-width: 768px) {
    .list-items .col-2 {
        width: 30% !important;
        max-width: 30% !important;
        flex: unset;
        padding: 0 10px;
        float: left;
        height: 100%;
        max-height: 100%;
        padding: 0
    }

    .list-items .col-7 {
        max-width: 35% !important;
        width: 35% !important;
        float: left;
        padding: 20px 10px;
        height: 100%;
        max-height: 100%;
        padding: 0;
    }

    .list-items .col-3 {
        width: 35% !important;
        max-width: 35% !important;
        float: right;
        padding: 20px 10px;
        height: 100%;
        max-height: 100%;
        padding: 0
    }

    .list-items .position-absolute {
        bottom: 20px !important;
    }

    main {
        overflow: hidden;
    }

    .list-classifieds ul.list-items li {
        min-height: 120px;
        height: 120px
    }

    .list-items .position-absolute .name-post {
        padding: 0px !important;
    }

}

@media (max-width: 767px) {
    .contact-info {
        display: none;
    }

    .items .position-absolute {
        bottom: 0px !important;
    }

    .list-items .position-absolute {
        bottom: 0px !important;
        width: 100%;
    }

    .list-items .position-absolute .name-post {
        padding: 0px 10px !important;

    }

    .position-address .name-post {
        padding-left: 10px;
    }
}

@media (max-width: 767px) and (min-width: 321px) {

    .col-12 > .row {
        margin: 0 !important;
    }

    .list-classifieds ul.list-items li {
        min-height: 100px;
        height: 100px
    }

    .list-items .col-2 {
        width: 33% !important;
        max-width: 40% !important;
        flex: unset;
        float: left;
        height: 100%;
        max-height: 100%;
        padding: 0 !important;
    }

    .list-items li {
        min-width: 100px;
        height: 100px;
    }

    .list-items .col-7 {
        width: 60% !important;
        max-width: 60% !important;
        float: left;
        padding: 20px 10px;
        height: 100%;
        max-height: 100%;
        padding: 5px !important;
    }

    .list-items .col-3 {
        display: none;

    }

    main > .container {
        margin: auto !important;
    }

    .list-items > li {
        height: 100px !important;
        min-height: unset !important;
    }

    footer {
        overflow: hidden;
    }

    main {
        overflow: hidden;
    }

    .items .position-absolute {
        bottom: 0px !important;
    }

    .list-items .position-absolute .name-post {
        padding: 0px 10px !important;
        float: left;
    }

    .list-items .position-absolute .address {
        position: absolute;
        right: 5px;
    }

    .list-items .classified-avatar .img-responsive {
        padding: 0 !important;
    }

    .form-check {
        padding-left: 0px;
    }
}

@media (max-width: 320px) {
    .list-items .position-absolute .name-post {
        padding: 0px 10px !important;
    }

    .list-classifieds ul.list-items li {
        min-height: 80px;
        height: 80px
    }

    .position-absolute {
        bottom: 0 !important;
        padding: 0 !important;
    }

    main {
        overflow: hidden;
    }

    footer {
        overflow: hidden;
    }

    .list-items li {
        height: 100px;
    }

    .list-items .col-7 {
        width: 60% !important;
        max-width: 57% !important;
        padding: 5px;
        height: 100%;
        max-height: 100%;
        padding: 5px !important;
    }

    .list-items .col-2 {
        width: 40% !important;
        max-width: 40% !important;
    }

    .info-post h3 a {
        font-size: 14px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .list-items .row {
        width: 100% !important;
    }

    .list-items .position-absolute .name-post {
        padding: 10px !important;
    }
}


