.row {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .register-right {
        display: flex;
    }
}

@media (max-width: 768px) and (min-width: 321px) {
    .row {
        width: unset;
    }

    main {
        padding-top: 80px;
    }

    main .breadcrumb {
        padding-top: 20px;
    }

    .dropdown-search {
        padding: 4px;
    }

    .justify-content-between > form > div {
        display: block;
    }

    .pr-0 {
        overflow: hidden;
        padding: 0 10px !important;
    }

    .list-items .col-2 {
        width: 100%;
        max-width: 100%;
        flex: unset;
        padding: 0 10px;

    }

    .list-items .col-7 {
        max-width: 60%;
        width: 60%;
        float: left;
        padding: 20px 10px;
    }

    .list-items .col-3 {
        width: 40%;
        max-width: 40%;
        float: right;
        padding: 20px 10px;

    }

    .list-items .info-post {
        padding: 0 10px; /*edit*/
    }

    .list-items .position-absolute {

        bottom: 0;
        padding: 0 10px;
    }

    .list-items .position-absolute .name-post {
        padding: 0 10px;
    }

    .list-items > li {
        padding: 0 !important;
    }

    .list-items .row {
        display: block !important;
        width: unset;
    }

    .classified-avatar {
        width: 100%;
    }

    .list-items img.img-responsive {
        padding: 0 10px;
    }

    .info-post h3, p {
        padding: 0 10px;
    }

    .m-footer-title {
        padding: 0px;
    }

    .f-title {
        padding: 0;
    }

    .address-title {
        padding: 0;
    }

    .pagination li.page-item:last-child {
        display: none;
    }

    .navbar-collapse .register-right .btn-post-jobs {
        text-align: center;
    }

    .register-right {
        text-align: center;
    }

    .mr-auto {
        display: none;
    }

    .navbar-collapse .register-right {
        padding-top: 80px;
    }

}

@media (max-width: 320px) {
    .row {
        width: unset;
    }

    main {
        padding-top: 80px;
    }

    main .breadcrumb {
        padding-top: 20px;
    }

    .dropdown-search {
        padding: 4px;
    }

    .justify-content-between > form > div {
        display: block;
    }

    .pr-0 {
        overflow: hidden;
        padding: 0 10px !important;
    }

    .list-items .col-2 {
        width: 100%;
        max-width: 100%;
        flex: unset;
        padding: 0 10px;

    }

    .list-items .col-7 {
        max-width: 60%;
        width: 60%;
        float: left;
        padding: 20px 10px;
    }

    .list-items .col-3 {
        width: 40%;
        max-width: 40%;
        float: right;
        padding: 20px 10px;

    }

    .list-items .info-post {
        padding: 0 10px; /*edit*/
    }

    .list-items .position-absolute {

        bottom: 0px;
        padding: 0 10px;
    }

    .list-items > li {
        padding: 0 !important;
    }

    .list-items .row {
        display: block !important;
        width: unset;
    }

    .classified-avatar {
        width: 100%;
    }

    .m-footer-title {
        padding: 0px;
    }

    .f-title {
        padding: 0;
    }

    .address-title {
        padding: 0;
    }

    .pagination li.page-item:last-child {
        display: none;
    }

    .navbar-collapse .register-right .btn-post-jobs {
        text-align: center;
    }

    .register-right {
        text-align: center;
    }

    .mr-auto {
        display: none;
    }

    .navbar-collapse .register-right {
        padding-top: 80px;
    }
}

.write-comment .input-cmt {
    position: relative;
}

.btn-send-cmt {
    position: absolute;
    bottom: 0;
    right: 0;

}

.friend img {
    height: 70px;
    width: 100px;
    display: block;
}

.comment-list {
    padding: 1px 0;
    background: #f9f9f9;
    margin: 17px 0;
}

.comment-list li {
    list-style: none;
}

.user-comment {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.cm-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.cm-image img {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.detail-user-comment {
    width: auto;
    display: flex;
    border-radius: 20px;
    padding: 0 15px;
    background: #f2f3f5;
    align-items: baseline;
}

.detail-user-comment p {
    margin: 0;
    padding: 10px 0;
}

.user-comment p > span {
    margin: 0 10px 0 0;
    height: 100%;

    font-size: 18px;
    font-weight: 700px;
}

.Interactive {
    position: absolute;
    left: 20px;
    top: 100%;
}

.Interactive span {
    padding: 0 10px;
    color: #0E76DE;
    font-size: 14px;
}

.Interactive span:hover {
    color: #0E76DE;
}

.login-comment input {
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    border-color: #007bff;
    margin: 20px;
    display: none;
}

.login-comment {
    text-align: center;
}

.ip-login {
    display: flex;
    justify-content: center;
}

.login-comment {
    background: #f9f9f9;
    /* height: 200px; */
    padding: 20px;
}

.login-comment .btn-comment {
    padding: unset;
    align-items: center;
    height: 44px;
    line-height: 44px;
    width: 100px;
    font-weight: 700;

}

.bg-white {
    padding-top: 20px;
}

.btn-comment:hover {
    color: #fff;
    background: #007bff;
}

.detail-user-comment {
    position: relative;
}

.detail-user-comment p {
    margin: 0;
    padding: 10px 0;
    text-align: justify;
}

form.checkbox-foot {
    margin-right: 10px;
    padding: 20px 0;
}

form.checkbox-foot .icheckbox_flat-red {
    margin-right: 20px;
}

form.checkbox-foot input {
    opacity: 1 !important;
    height: 100%;
    width: 100%;
}

.reply-comment .input-cmt {
    width: 100%;
    position: relative;
}

.input-rely {
    width: 100%;
}

.input-rely {
    position: relative;
}

.Interactive {
    border: 0;
    background: none;
}

@media (max-width: 768px) {
    .ip-login {
        display: block;
    }

    .ip-login input {
        margin: 10px;
    }

    .detail-user-comment {
        width: 85%;
    }
}

button.btn.btn-primary.btn-send-cmt {
    width: 44px;
    height: 38px;
    padding: 5px;
}