.img-responsive {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  color: red; }

ul.list-items {
  padding: 0; }
  ul.list-items li {
    margin: 30px 0;
    list-style: none;
    display: block;
    border: 1px solid #70707024;
    padding: 10px;
    box-sizing: border-box;
    height: auto; }
    ul.list-items li a {
      text-decoration: none; }

.title-filter h1 {
  font-size: 24px; }

.filter-advanced input.form-control {
  width: 100%; }
.filter-advanced .form-group {
  height: 100%; }
  .filter-advanced .form-group button.btn-primary {
    height: 100%;
    width: 35%; }

ul.breadcrumb {
  padding: 20px 0;
  background: none;
  margin: 0; }
  ul.breadcrumb a {
    text-decoration: none; }
  ul.breadcrumb li:nth-child(1):after {
    content: "\f105";
    font-family: FontAwesome;
    color: #007bff;
    padding-left: 10px; }
  ul.breadcrumb li:nth-child(2):after {
    content: "\f105";
    font-family: FontAwesome;
    color: #007bff;
    padding-left: 10px; }
  ul.breadcrumb li {
    padding-right: 20px; }
  ul.breadcrumb button.like-classified-button {
    border: 0 !important;
    background: none !important; }

.classified-avatar {
  height: 150px; }

.filter-category .title-filter {
  padding: 30px 0; }

.filter-category {
  margin-top: 0px; }

button.like-classified-button {
  background: none;
  border: 0;
  color: #f21a1a; }

.info-post h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600; }
  .info-post h3 a {
    color: #000; }
.info-post .price {
  color: #e32f2f;
  font-weight: 600;
  font-size: 18px; }

.phone-vip-news {
  color: #28a745; }

select.form-control {
  height: 40px;
  flex-grow: 3; }

.form-group input {
  height: 40px; }

.contact-info {
  border-left: 1px solid #70707024; }

@media (max-width: 768px) {
  .filter-category {
    margin-top: 130PX; }

  .filter-category .title-filter {
    padding: 30px 0; }

  .form-group input.form-control {
    font-size: 14px; }
  .form-group select {
    font-size: 14px; }

  .info-post h3.title {
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .filter-advanced {
    margin-top: 30px; }
    .filter-advanced input.form-control {
      width: 100%; }
    .filter-advanced .form-group {
      height: 100%; }
      .filter-advanced .form-group button.btn-primary {
        height: 100%;
        width: 50%; }

  ul.list-items .classified-avatar {
    height: 125px; }

  .classified-avatar {
    height: 125px; }

  .seach-header-m {
    padding: 35px; }

  .position-address {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical; } }
@media (max-width: 767px) {
  .position-address .name-post {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; }

  .filter-category {
    margin-top: 55PX; }

  .filter-category {
    padding: 0; }

  ul.list-items li {
    margin: 15px 0; }

  .seach-header-m {
    padding: 15px !important; }

  ul.list-items .classified-avatar {
    height: 110px; }

  .filter-advanced form > div {
    display: block; }
  .filter-advanced form > div > div.col {
    margin-bottom: 10px; }

  .contact-info {
    display: none; }

  .info-post h3.title {
    font-size: 18px; }

  ul.list-items li {
    padding: 0; }
  ul.list-items img.img-responsive {
    object-fit: cover; } }
.form-group input.form-control {
  border: 1px solid #ced4da !important; }
