@charset "UTF-8";
.collaps {
  display: inline-flex;
  width: 79%; }

.collaps ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; }

.seach-header {
  display: flex; }

.top-head {
  padding: 5px 10px;
  max-width: 1346px;
  margin: 0 auto;
  height: 70px; }

.top-head-container {
  display: flex;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

form.seach-header {
  height: 40px;
  margin: auto; }
  form.seach-header input:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.seach-header > span > img {
  height: 30px !important;
  width: 30px !important; }

img.logo {
  max-height: 100%;
  height: 100%;
  padding: 0;
  max-width: 100%; }

.seach-header input {
  display: block;
  min-width: 350px;
  width: 100%;
  border-radius: 3px;
  padding-left: 10px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0; }

.seach-icon i {
  font-size: 20px; }

.ca-detail p {
  text-decoration: none;
  margin: 0; }

a.career-item-short:hover {
  text-decoration: none; }

.seach-header span {
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 40px;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  width: 20%; }

.collaps {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center; }

.collaps a {
  padding: 18px 15px; }

header a {
  font-size: 16px;
  font-family: "Nunito Sans",sans-serif;
  font-weight: 400;
  text-decoration: none !important;
  color: #ffffff; }

.header-pc {
  display: block;
  position: fixed;
  z-index: 10000;
  background: #005baa;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 10px rgba(1, 100, 200, 0.5); }

.banner {
  width: 100%;
  height: 430px;
  background-color: #000;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Nunito Sans",sans-serif;
  padding: 60px 15px;
  margin-top: 70px; }

.form-group {
  display: flex;
  margin: 0px; }

.seach-container {
  max-width: 1316px;
  width: 100%;
  margin: auto; }

.form-group input {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #B2E0FF;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  padding: 14px 15px;
  height: 50px;
  width: 50%; }

.form-group select {
  width: 30%; }

.form-group button {
  width: 20%; }

select.form-control {
  height: 50px;
  flex-grow: 3; }

.seach-left button.submit-seach-job {
  background: #4fb1f8;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  flex: 0 0 200px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #B2E0FF;
  background: linear-gradient(to right, #0F73D6, #5BBDFF);
  display: block; }

.seach-left button.submit-seach-job:hover {
  background: linear-gradient(to right, #0F73D6, #5BBDFF) !important;
  border: 1px solid #B2E0FF;
  box-shadow: 0 4px 14px #0f73d666; }

.seach-right button.submit-seach-job {
  background: #4fb1f8;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  flex: 0 0 200px;
  height: 50px;
  border: 1px solid #B2E0FF;
  background: linear-gradient(to right, #0DBE1F, #36E269);
  display: block;
  border: 1px solid #36E269; }

.seach-left {
  color: black;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px 0px 0px 4px;
  padding: 55px 50px 25px; }

.seach-left h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #32325b; }

.seach-left p {
  font-size: 20px; }

.seach-right {
  background: #E2FFF4;
  border-radius: 0 4px 4px 0;
  padding: 55px 50px 40px; }

.seach-right p {
  color: #000000; }

.s-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 0; }

a.submit-search-job {
  height: 50px;
  line-height: 40px;
  width: 200px;
  border-radius: 2px;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(to right, #0DBE1F, #36E269);
  display: block;
  border: 1px solid #36E269;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  background: -webkit-gradient(linear, left top, right top, from(#0DBE1F), to(#36E269));
  background: linear-gradient(to right, #0DBE1F, #36E269);
  margin-top: 38px; }

a.submit-search-job:hover {
  box-shadow: 0 3px 20px rgba(54, 226, 105, 0.6);
  border: 1px solid #36E269; }

.item-news a {
  text-decoration: none; }

.seach-icon {
  height: 40px;
  width: 80px !important;
  text-align: center;
  border-radius: 0px 3px 3px 0; }

.seach-icon img {
  height: 40px;
  margin: auto;
  width: 40px;
  padding: 0; }

.register-right a:nth-child(2) {
  position: relative; }

.register-right a:nth-child(2):after {
  content: "";
  width: 1px;
  height: 20px;
  background: #007bff;
  left: 0;
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto; }

button.submit-seach-job {
  padding: inherit; }

button.submit-seach-job:hover {
  background: #0f73d6; }

.seach-left p {
  margin: 0; }

.s-teaser {
  margin: 0px; }

.box-career {
  padding: 50px 0 30px 0;
  background: #fff; }

.main {
  z-index: 0; }

.ca-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; }

.career-item-short {
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  position: relative;
  height: 83px;
  font-family: "Nunito Sans",sans-serif;
  color: #000; }

.ca-detail {
  margin-left: 15px; }

.ca-image {
  margin-top: -26px;
  margin-left: -26px;
  max-width: 69px;
  overflow: hidden;
  display: flex;
  height: 69px;
  -webkit-box-flex: 0;
  flex: 0 0 69px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.text-center h2 {
  margin-bottom: 50px; }

.img-logo {
  width: 21%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px; }

.box-news {
  background: #f9f9f9;
  padding: 60px 0 40px; }

.ne-img {
  width: 100%;
  height: 178px;
  overflow: hidden; }

img.lazy {
  width: 100%;
  height: 100%; }

.item-news {
  display: block;
  width: 100%;
  max-width: 360px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: "Nunito Sans",sans-serif;
  color: #000;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  margin: 0 auto 20px;
  padding: 0; }

.seach-container .row {
  margin: 0; }

.ne-info .date {
  font-size: 14px;
  color: #a7a7a7;
  line-height: 19px;
  margin-bottom: 0px;
  height: 35px; }

.ne-info .date > span {
  font-size: 14px !important;
  color: #a7a7a7;
  line-height: 19px;
  margin-bottom: 10px; }

.item-news .ne-info {
  padding: 30px 20px; }

.ne-title {
  font-family: "Nunito Sans",sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 18px;
  min-height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; }

.box-news .row > div {
  padding: 0 10px; }

.ne-title:hover {
  color: #000; }

.ne-info p.teaser {
  line-height: 2;
  text-align: justify; }

.ne-info .teaser {
  height: 80px; }

.item-news .ne-info:hover {
  color: unset; }

a.item-news:hover {
  color: unset;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid #BAE3FF; }

.item-news .teaser {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  min-height: 72px;
  margin-bottom: 30px; }

.item-news .btn-news-view {
  background: #fff;
  color: #1799ff; }

.item-news .btn-news-view:hover {
  background: #fff;
  color: #1799ff; }

.footer-top {
  padding: 40px 0;
  background-color: #fff;
  color: #000; }

.footer-top .f-count {
  display: flex;
  margin-bottom: 74px; }

.footer-top .f-count-item {
  width: 200px;
  text-transform: uppercase; }

.footer-top .f-count-item span {
  font-size: 30px;
  font-weight: 600;
  color: #000; }

.footer-top .address-title {
  font-weight: 600;
  margin-bottom: 0; }

.footer-top .f-count-item br {
  text-transform: uppercase;
  color: #a7a7a7;
  font-size: 14px; }

.f-menu-footer {
  display: flex;
  justify-content: space-between; }

.m-footer-item ul > li {
  list-style: none; }

.m-footer-item ul {
  padding: 0; }

p.m-footer-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px; }

.m-footer-item ul a {
  color: #000;
  line-height: 30px;
  text-decoration: none; }

.m-footer-social ul {
  display: flex; }

.m-footer-social ul li {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin: 10px; }

.m-footer-social li img {
  width: 100%;
  height: 100%;
  max-width: 45px;
  max-height: 45px; }

.f-copy-right {
  height: 40px;
  text-align: center;
  align-items: center;
  background: #f9f9f9;
  line-height: 40px; }

.item-news:hover {
  text-decoration: none; }

.collaps li {
  height: 100%;
  display: block;
  overflow: hidden; }

.header-m {
  background: #005baa;
  display: none; }

.collaps a {
  display: inline-block; }

.f-logo {
  margin-bottom: 20px; }

p.f-title {
  font-weight: 600; }

.header-pc .collaps a:hover {
  color: #ffffff; }
.header-pc .collaps a:active {
  background: #ffffff;
  color: #005baa; }
.header-pc .collaps a:focus {
  background: #ffffff;
  color: #005baa;
  border-radius: 5px;
  font-weight: 600; }
.header-pc .register-right {
  display: contents; }

#page-auth {
  margin-top: 80px;
  padding: 50px 0;
  background: #f9f9f9; }
  #page-auth .form-group {
    display: block;
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 20px; }
    #page-auth .form-group input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #E3E3E3;
      height: 30px;
      padding: 0; }
      #page-auth .form-group input:focus {
        box-shadow: none; }
    #page-auth .form-group p {
      margin: 0;
      color: #a7a7a7; }
  #page-auth .form-login {
    padding: 20px;
    width: 400px; }
    #page-auth .form-login h1 {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 15px; }
    #page-auth .form-login p {
      text-align: center; }
    #page-auth .form-login label {
      color: #a7a7a7; }
    #page-auth .form-login .bg-re-forgot {
      background: none; }
    #page-auth .form-login .form-submit {
      width: 100%;
      background: #0099ff;
      height: 50px;
      border-radius: 0;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff; }
    #page-auth .form-login .sign-fb {
      width: 100%;
      background: #3363d2;
      height: 50px;
      border-radius: 0;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none;
      display: block;
      line-height: 50px;
      margin-bottom: 20px;
      padding: 0 15px; }
      #page-auth .form-login .sign-fb i {
        font-size: 30px;
        margin-right: 30px; }
    #page-auth .form-login .sign-gg {
      background: #D85656; }
    #page-auth .form-login .bg-re-forgot {
      display: flex;
      justify-content: space-between;
      padding: 0; }
    #page-auth .form-login .create-one {
      padding: 30px 0;
      text-align: center; }
    #page-auth .form-login .or-register-other {
      text-align: center;
      padding-bottom: 30px; }
  #page-auth .form-control:focus {
    box-shadow: none; }

.form-login {
  margin: auto; }
  .form-login .or-register-other {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    z-index: 1; }
    .form-login .or-register-other span {
      position: absolute;
      top: -13px;
      font-size: 16px;
      background: #f9f9f9;
      z-index: 2;
      padding: 0 5px;
      font-weight: 500;
      left: 45%; }
  .form-login .box-remember-me {
    display: flex;
    width: 50%; }
    .form-login .box-remember-me input {
      height: 20px !important;
      width: 20px !important;
      margin-right: 10px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .box-news .container {
    max-width: 100%; }

  .collaps li a {
    padding: 5px 15px; }

  .item-news {
    max-width: 100%; }

  .ne-img {
    height: 200px;
    object-fit: cover; }

  .collaps a {
    line-height: unset;
    display: contents;
    display: inline-block !important; }

  .seach-header input {
    min-width: 250px; }

  .register-right a {
    padding: 0 10px; }

  .register-right {
    display: flex; } }
/*(min-width: 768px) and (max-width: 1024px)*/
@media (min-width: 769px) {
  .header-m {
    display: none; } }
/*min-width: 769px*/
@media (max-width: 768px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px; }

  .justify-content-center {
    width: 100%;
    box-sizing: border-box; }
    .justify-content-center .form-login {
      width: auto !important;
      padding: 20px 0 !important; }
    .justify-content-center .col-auto {
      padding: 0; }
    .justify-content-center .sign-fb {
      text-align: center; }

  .box-news {
    padding: 30px 0 20px 0; }

  .ca-image {
    max-height: 60px;
    max-width: 60px; }

  .career-item-short {
    height: 70px; }

  h2.title {
    font-size: 24px; }

  .header-m {
    position: fixed;
    z-index: 100000;
    width: 100%;
    background: #005baa;
    display: block;
    box-shadow: 0px 1px 10px rgba(1, 100, 200, 0.5);
    position: fixed !important;
    /*Cho menu cố định 1 vị trí với top và left*/
    top: 0;
    /*Nằm trên cùng*/
    left: 0;
    /*Nằm sát bên trái*/
    z-index: 100000;
    /*Hiển thị lớp trên cùng*/ }

  .box-career {
    padding-top: 20px; }

  .text-center h2 {
    margin-bottom: 30px; }

  .form-seach input {
    width: 100%;
    margin-bottom: 10px; }

  .banner {
    padding: 0;
    margin-top: 130px; }

  .form-seach select.form-control {
    width: 100%; }

  .form-seach .submit-seach-job {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }

  .top-head {
    display: none; }

  .box-news .container {
    max-width: 100%; }

  .item-news {
    max-width: 100%; }

  .seach-container > .row {
    display: block !important; }

  .banner {
    height: auto !important; }

  .group-seach {
    display: block; }
    .group-seach input:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important; }

  .seach-left {
    max-width: 100%;
    padding: 10px;
    border-radius: 0; }

  .seach-left h1 {
    font-size: 20px;
    margin-bottom: 20px; }

  .seach-right {
    max-width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 0; }

  .seach-right a.submit-search-job {
    align-items: center;
    margin: 20px auto; }

  .seach-left p {
    display: none; }

  .banner {
    padding-top: 0px;
    padding-bottom: 0px; }

  .top-head-m .img-logo {
    height: 70px; }

  .top-head-m {
    display: inline-flex;
    height: 70px;
    padding: 10px; }

  .logo-m {
    width: 80%;
    height: 100%; }

  .img-logo-m img {
    height: 100%;
    max-height: 100%; }

  .button-m {
    height: 100%;
    width: 20%;
    align-items: center; }

  i.fa-bars {
    font-size: 30px; }

  .button-m button {
    height: 100%;
    width: 100%;
    align-items: center;
    color: #ffffff; }

  .seach-header-m {
    padding: 10px; }

  .seach-header-m input {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #e9ecef;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 10px; }

  .seach-icon-m {
    height: 40px;
    width: 20%;
    border: 1px solid #e9ecef;
    border-left: 0px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .register-m {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 328%;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    background: #efefef;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: width 2s; }

  .register-m a {
    border: 1px solid #007bff;
    padding: 15px 20px;
    font-size: 16px;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 500;
    text-decoration: none !important;
    margin: 20px 0;
    text-align: center;
    color: #0f73d6;
    border-radius: 10px;
    background: #fff;
    font-weight: 600; }

  #nav-register {
    display: none; }

  .f-logo {
    max-width: 100%; }
    .f-logo .img-responsive {
      width: 100%;
      max-width: 100%; } }
/*max-width: 768px*/
.filter-category {
  margin-top: 120PX; }

.group-seach input {
  box-shadow: none; }
  .group-seach input:focus {
    border: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.container-fluid {
  margin-top: 80px;
  padding-top: 20px; }
  .container-fluid label {
    font-size: 16px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400; }
  .container-fluid .form-group {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
    .container-fluid .form-group select.form-control {
      display: block;
      width: 100%;
      height: 45px; }
    .container-fluid .form-group input {
      height: 45px;
      border-radius: 5px;
      border: 1px solid #ced4da; }
    .container-fluid .form-group input[type=file] {
      line-height: 18px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .container-fluid .form-group input.incognito {
      height: 20px;
      line-height: 0;
      width: 20px;
      margin-right: 10px; }
    .container-fluid .form-group .radio-sell {
      width: 50%;
      float: left;
      padding: 0; }
      .container-fluid .form-group .radio-sell input {
        margin-right: 15px;
        height: 20px;
        width: 20px;
        padding: 0; }
      .container-fluid .form-group .radio-sell input[type=radio]:checked {
        color: red;
        background: red;
        border-radius: 2px; }
        .container-fluid .form-group .radio-sell input[type=radio]:checked::before {
          background: #000000; }
    .container-fluid .form-group input.form-control {
      width: 100%; }
  .container-fluid .form-row {
    margin: 0;
    padding: 0;
    margin-top: 55px;
    width: 100%; }
    .container-fluid .form-row .form-group .btn-cancel {
      background: #efefef;
      width: auto; }
    .container-fluid .form-row .form-group .btn-success {
      background: #28a745;
      border-color: #28a745;
      width: auto; }

.box-profile-tabs {
  margin-top: 80px;
  color: #fff;
  font-family: "Nunito Sans",sans-serif; }
  .box-profile-tabs h1.title {
    padding: 20px 0;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#12AF5B), to(#39FFA2));
    background-image: linear-gradient(to right, #12AF5B, #39FFA2); }

#page-profile {
  background: #f9f9f9; }

.box-profile-detail .profile-status {
  background-color: #fff;
  border: 1px solid #E3E3E3;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 20px 25px 25px;
  justify-content: space-between;
  border: 1px solid #E3E3E3; }
  .box-profile-detail .profile-status .s-title {
    font-size: 16px; }
  .box-profile-detail .profile-status .switcher-status {
    background: #005baa;
    color: #fff;
    font-size: 16px;
    width: 112px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px; }
    .box-profile-detail .profile-status .switcher-status .active {
      background: #fff;
      color: #0e76de; }
    .box-profile-detail .profile-status .switcher-status .switcher {
      width: 50%;
      height: auto;
      border-radius: 0;
      padding: 5px 13px; }
      .box-profile-detail .profile-status .switcher-status .switcher:active {
        background: #fff;
        color: #0e76de; }
.box-profile-detail .profile-sidebar-menu {
  margin-top: 20px;
  background: #fff;
  padding: 25px 25px 25px 26px;
  border: 1px solid #E3E3E3; }
  .box-profile-detail .profile-sidebar-menu .title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27px;
    font-weight: 600;
    color: #0E76DE;
    margin-bottom: 5px; }
  .box-profile-detail .profile-sidebar-menu ul {
    padding: 0;
    line-height: 2; }
    .box-profile-detail .profile-sidebar-menu ul li {
      list-style: none; }
.box-profile-detail .profile {
  width: 100%; }
.box-profile-detail .profile-info .account-box {
  background: #fff;
  border: 1px solid #E3E3E3; }
